#pandas
pip install pandas==1.15

#tensorflow
pip install tensorflow==1.13.1

#keras
pip install keras==2.2.4

#numpy
pip install numpy==1.19.5

#matplotlib
pip install matplotlib==3.3.4

#scipy
pip install scipy==1.5.4

#scikit-learn
pip install scikit-learn==0.24.2